extends layout

block style
  link(rel='stylesheet', href='/stylesheets/github.css')
  link(rel='stylesheet', href='/stylesheets/page/tag.css')
  link(rel='stylesheet', href='/stylesheets/page/admire.css')
  link(rel='stylesheet', href='/stylesheets/page/comment.css')
  link(rel='stylesheet', href='/stylesheets/page/user.css')
  link(rel='stylesheet', href='/stylesheets/page/bookmark.css') 
  link(rel='stylesheet', href='/stylesheets/page/articleDetail.css')
block content
  div(class="container")
    div(class="panel panel-default", style="margin-top: 20px")
      div(class="panel-body") 
        div(class="u-flag")
          div(class="u-avatar", uid="#{article.writer}")
          div(class="u-flag-left")
            h3
              !=article.title
        section
          !=article.content
        div(class="g-art-footer")
          div(class="u-wriTime") #{article.writeTime}
          div(id="bookmark", aid="#{article.id}", cur=user?"#{user.username}":"")
          div(class="clearfix")
        hr
        div(id="tags", aid="#{article.id}")
        hr
        div(id="comments", aid="#{article.id}", cur=user?"#{user.username}":"")
        div(id="replyComment", style="display:none;margin-left:100px")
          form(action="/nor/comment_addComment", method="post")
            input(type="hidden", name="articleId", value="#{article.id}")
            input(type="hidden", name="replyId")
            div(class="form-group")
                textarea(class="form-control", name="comment", id="inputComment", style="resize: none", rows=2)
            div(class="form-group")
                button(class="btn btn-success", type="submit", style="float:right") 发送
          div(class="clearfix")

        div(id="newComments") 
          if user
            h3 新评论:
            form(action="/nor/comment_addComment", method="post")
              input(type="hidden", name="articleId", value="#{article.id}")
              div(class="form-group")
                textarea(class="form-control", name="comment", id="inputComment", style="resize: none", rows=4)
              div(class="form-group")
                button(class="btn btn-success", id="sendComment", type="submit", style="float:left") 发送
                button(class="btn btn-danger", type="button" ,id="clearComment", style="float:right") 清空
          else
            h3(style="text-align:center") 请登录后评论

block javascript
  script(type='text/javascript', src='/javascripts/tools/highlight.pack.js')
  script(type='text/javascript', src='/javascripts/pageTools/Tag.js')
  script(type='text/javascript', src='/javascripts/pageTools/Admire.js')
  script(type='text/javascript', src='/javascripts/pageTools/Comment.js')
  script(type='text/javascript', src='/javascripts/pageTools/User.js')
  script(type='text/javascript', src='/javascripts/pageTools/Bookmark.js')
  script(type='text/javascript', src='/javascripts/page/articleDetail.js')