extends layout

block style
	link(rel='stylesheet', href='/stylesheets/github.css')
	link(rel='stylesheet', href='/stylesheets/pageTools/tag.css')
	link(rel='stylesheet', href='/stylesheets/pageTools/user.css')
	link(rel='stylesheet', href='/stylesheets/pageTools/comment.css')
	link(rel='stylesheet', href='/stylesheets/pageTools/bookmark.css')
	link(rel='stylesheet', href='/stylesheets/page/articleDetail.css')
	link(rel='stylesheet', href='/stylesheets/page/index.css')
block content
	div(class='container')
		each article in articles
			div(class="panel panel-default", style="margin-top: 20px")
				div(class="panel-body") 
					div(class="u-flag")
						div(class="u-avatar", uid="#{article.writer}")
						div(class="u-flag-left")
							a(href="/article_load?articleId=#{article.id}")
								h3
									!=article.title
					section
						!=article.content
					hr
					div(class="m-tags", aid="#{article.id}")
					hr
					div(class="g-art-footer")
						div(class="u-wriTime") #{article.writeTime}
						div(class="u-item u-book", aid="#{article.id}", cur=user?"#{user.username}":"") 
						div(class="u-item u-comment", aid="#{article.id}")
						div(class="clearfix")
		ul(class="pager")
			li(class=curPage===1?"previous disabled" : "previous") 
				a(href=curPage===1?"javascript:void(0)":"/index?page=#{curPage-1}")
					&larr;上一页
			li(class=curPage===totalPage?"next disabled" : "next") 
				a(href=curPage===totalPage?"javascript:void(0)":"/index?page=#{curPage+1}")
					&rarr;下一页

block javascript
	script(type='text/javascript', src='/javascripts/tools/highlight.pack.js')
	script(type='text/javascript', src='/javascripts/pageTools/Tag.js')
	script(type='text/javascript', src='/javascripts/pageTools/User.js')
	script(type='text/javascript', src='/javascripts/pageTools/Comment.js')
	script(type='text/javascript', src='/javascripts/pageTools/Bookmark.js')
	script(type='text/javascript', src='/javascripts/page/index.js')