extends layout

block style
  link(rel='stylesheet', href='/stylesheets/pageTools/comment.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/tag.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/admire.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/user.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/bookmark.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/admire.css')
  link(rel='stylesheet', href='/stylesheets/pageTools/article.css')
  link(rel='stylesheet', href='/stylesheets/page/userCenter.css')

block content
  input(type="hidden", id="user", uid=user?"#{user.username}":"")
  input(type="hidden", id="curUser", uid="#{curUser.username}")
  div(class='container')
    h1
      div(style="float:left")
        strong #{curUser.nickname}的用户中心
      div(class="u-avatar", style="float:right", id="user")
      div(class="clearfix")
    hr
    div(id="tags")
    hr
    div(class="list-group g-chose", id="chosePanel")
        if user&&curUser.username === user.username
          a(href="#", class="list-group-item", ref="getComments") 收到的评论
            span(class="badge pull-right remind-count", type="comment")
          a(href="#", class="list-group-item", ref="getAdmires") 收到的贊
            span(class="badge pull-right remind-count", type="admire")
          a(href="#", class="list-group-item", ref="getBookmarks") 收到的收藏
            span(class="badge pull-right remind-count", type="bookmark")
        if curUser.owner
          a(href="#", class="list-group-item", ref="articles") 
            if user&&curUser.username === user.username
              != "我的文章"
            else
              != "ta的文章"
            span(class="badge pull-right article-count")
        a(href="#", class=curUser.owner?"list-group-item" : "list-group-item active", ref="bookmarks")
          if user&&curUser.username === user.username
            != "我的收藏"
          else
            != "ta的收藏"
          span(class="badge pull-right bookmark-count")
        a(href="#", class="list-group-item", ref="comments")
          if user&&curUser.username === user.username
            != "我的评论"
          else
            != "ta的评论"
          span(class="badge pull-right comment-count")
        a(href="#", class="list-group-item", ref="admires")
          if user&&curUser.username === user.username
            != "我赞过的评论"
          else
            != "ta赞过的评论"
          span(class="badge pull-right admire-count")
    
        

    div(class="panel panel-default g-content")
      if user&&curUser.username === user.username
        div(class="panel-body g-hide", id="getComments", cur="0")
          div(class="g-container")
          div(class="u-more") 点击加载更多
        div(class="panel-body g-hide", id="getAdmires", cur="0")
          div(class="g-container")
          div(class="u-more") 点击加载更多
        div(class="panel-body g-hide", id="getBookmarks", cur="0")
          div(class="g-container")
          div(class="u-more") 点击加载更多
      if curUser.owner
        div(class="panel-body g-hide", id="articles", cur="0")
          div(class="g-container")
          div(class="u-more") 点击加载更多

      div(class="panel-body g-hide", id="comments", cur="0")
        div(class="g-container")
        div(class="u-more") 点击加载更多
      div(class="panel-body g-hide", id="bookmarks", cur="0")
        div(class="g-container")
        div(class="u-more") 点击加载更多
      div(class="panel-body g-hide", id="admires", cur="0")
        div(class="g-container")
        div(class="u-more") 点击加载更多
       
block javascript
  script(type='text/javascript', src='/javascripts/pageTools/User.js')
  script(type='text/javascript', src='/javascripts/pageTools/Tag.js')
  script(type='text/javascript', src='/javascripts/pageTools/Article.js')
  script(type='text/javascript', src='/javascripts/pageTools/Bookmark.js')
  script(type='text/javascript', src='/javascripts/pageTools/Admire.js')
  script(type='text/javascript', src='/javascripts/pageTools/Comment.js')
  script(type='text/javascript', src='/javascripts/page/userCenter.js')